        <div id="footer-container">
            <!--<div id="footer-container-inner">
                <div id="footer-container-profiles">
                    <a href="https://github.com/jamiealanmassey">
                        <img class="ui tiny rounded image" src="https://avatars2.githubusercontent.com/u/5281588?s=460&v=4" />
                    </a>
                    <a href="https://github.com/karansaini302">
                        <img class="ui tiny rounded image" src="https://avatars3.githubusercontent.com/u/26251394?s=460&v=4" />
                    </a>
                    <a href="https://github.com/vsskkv">
                        <img class="ui tiny rounded image" src="https://avatars3.githubusercontent.com/u/36989452?s=460&v=4" />
                    </a>
                    <a href="https://github.com/NathanALewis">
                        <img class="ui tiny rounded image" src="https://avatars2.githubusercontent.com/u/37226283?s=460&v=4" />
                    </a>
                    <a href="https://github.com/malhir2">
                        <img class="ui tiny rounded image" src="https://avatars0.githubusercontent.com/u/40173039?s=460&v=4" />
                    </a>
                    <a href="https://github.com/hussam47">
                        <img class="ui tiny rounded image" src="https://avatars3.githubusercontent.com/u/43960538?s=460&v=4" />
                    </a>
                    <a href="https://github.com/Jastolfo">
                        <img class="ui tiny rounded image" src="https://avatars3.githubusercontent.com/u/44033134?s=460&v=4" />
                    </a>
                </div>

            </div>
        </div>-->
        <div id="copyright">
            &copy; 2018 - 2019 Fractured Developments
        </div>
    </body>
</html>
