<% console.log(currentUser) %>
<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="/">
            <div class="header item">
                <i class="small terminal icon"></i>
                Fractured Knight Development Blog
            </div>
        </a>
        <a class="item" href="/posts">Posts</a>
        <% if (currentUser && currentUser.accessLevel === "Admin") { %>
            <a class="item" href="/posts/new">New Post</a>
        <% } %>

        <div class="right menu">
            <% if (!currentUser) { %>
                <a class="item" href="/login">Login</a>
                <a class="item" href="/register">Register</a>
            <% } else { %>
                <div class="header item">
                    Welcome <%= currentUser.firstname %> <%= currentUser.lastname %>
                </div>
                <a class="item" href="/logout">Logout</a>
            <% } %>
        </div>
    </div>
</div>
