<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="/">
      <div class="header item">
        <i class="small terminal icon"></i>
        Fractured Knight Development Blog
      </div>
    </a>
    <a href="/posts" class="item">Posts</a>
    <a href="/posts/new" class="item">New Post</a>
  </div>
</div>
