<html>
    <head>
        <title>Fractured Knight Development Blog</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    </head>
    <body>
        <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui container">
                <h1>FRACTURED KNIGHT</h1>
                <h4>A place where aliens and knights meet in a single time</h4>
            </div>
        </div>
        <div class="ui inverted vertical stripe segmen">
            <div class="ui center aligned container">
                <div class="ui inverted statistic">
                  <div class="value">
                    0.1
                  </div>
                  <div class="label">
                    Version
                  </div>
                </div>
                <div class="ui inverted statistic">
                  <div class="value">
                      <%= statistics.downloads %>
                  </div>
                  <div class="label">
                    Downloads
                  </div>
                </div>
                <div class="ui inverted statistic">
                  <div class="value">
                    7
                  </div>
                  <div class="label">
                    Developers
                  </div>
                </div>
            </div>
        </div>
        <div class="ui inverted vertical stripe segment">
            <div class="ui container">
                <h3 class="ui inverted header">
                  <i class="comments icon"></i>
                  <div class="content">
                    Text-Based Gameplay
                    <div class="sub header">
                        <p>Unique encounters with every NPC that you meet through a fully immersive and highly animated text-based interface!</p>
                    </div>
                  </div>
                </h3>
                <h3 class="ui inverted header">
                  <i class="fire icon"></i>
                  <div class="content">
                    Text-Based Combat
                    <div class="sub header">
                        <p>Pokémon inspired combat system that allows you to fight with fists or words!</p>
                    </div>
                  </div>
                </h3>
                <h3 class="ui inverted header">
                  <i class="book icon"></i>
                  <div class="content">
                    Journal System
                    <div class="sub header">
                        <p>Journal system that tracks every encounter, event and object you cross paths with!</p>
                    </div>
                  </div>
                </h3>
                <h3 class="ui inverted header">
                  <i class="sun icon"></i>
                  <div class="content">
                    Planets to Explore
                    <div class="sub header">
                        <p>Many planets to explore following different story arcs!</p>
                    </div>
                  </div>
                </h3>
            </div>
        </div>
        <div class="ui inverted vertical stripe segment">
            <div class="ui center aligned container">
                <a href="/download">
                    <button class="huge ui positive button">
                        <i class="save icon"></i>
                        Download Game
                    </button>
                </a>
                <a href="/posts">
                    <button class="huge ui button">
                        <i class="keyboard icon"></i>
                        Development Blog
                    </button>
                </a>
            </div>
        </div>
    </body>
</html>
