html,
body {
    background-color: #f6f5f3;
}

.posts-container {
  width:100%;
  padding-bottom: 80px;
  padding-top: 40px;
}

.posts-container .post {
  width: 70%;
  margin: auto;
  padding-top: 40px;
}

.posts-container h2, h3, h4 {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.posts-container h2 {
	font-size: 1.8em;
}

.posts-container h3 {
	font-size: 1.3em;
}

.posts-container h4 {
	font-weight: 300;
	font-size: 0.9em;
	margin-bottom: 0;
}

.posts-container .created {
	padding-bottom: 20px;
	text-transform: uppercase;
	font-size: 0.8em;
}

.posts-container img {
  width: 100%;
  height: 400px;
  object-fit: none;
  object-position: 50% 50%;
  background-color: #151515;
}

.posts-container .dot {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.posts-buttons {
  margin-top: 10px;
}

.posts-buttons .button {
  margin-right: 8px;
}

.posts-buttons form {
  margin: 0;
  padding: 0;
  display: inline;
}

.modal form {
    display: inline;
}

.comment-widget {
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    letter-spacing: 1.5px;
    font-size: 0.9em;
}

.right {
    float: right;
}

#footer-container {
  width: 100%;
  background-color: #151515;
  margin-top: 40px;
}

#footer-container-inner {
  color: white;
  width: 70%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

#footer-container-inner a {
  margin: 10px 8px 0px 8px;
  margin-bottom: 10px;
}

#footer-container-inner img, a  {
  display: inline;
}

#footer-container-profiles {
  width: 690px;
  margin: auto;
  margin-bottom: 20px;
}

#copyright {
  text-align: center;
  color: rgb(255, 250, 250);
}

#copyright hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 250, 250, 0.3);
}
